@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default padding and margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}